{% extends 'layout.html' %} {% block content %}

<body>
            <div id="container">
              <main id="main">
                <div class="allGames">
                  <br>
                  <p>ALL GAMES</p>
                    <p>
                        <ul>
                        {% for game in all_games %}
                            <li><a href="Probably need to do a GET method or something here"> {{ game.title }} </a>
                                <div><img src="{{ game.image_url }}" alt="game image"></div></li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
              </main>
            </div>

</body>
{% endblock %}