{% extends 'layout.html' %} {% block content %}

<div class="col-9 col-s-9 main">
    <h2>{{ game.title }}</h2>
    <p>{% for genre in game.genres %}<div class="w3-tag w3-round w3-blue">{{ genre.genre_name }}</div> {% endfor %}</p>
    <p><i>Release Date:</i> {{ game.release_date }} </p>
    <p><i>Price:</i> {{ game.price }}</p>
    <p><i>About:</i> {{ game.description }} </p>
    <p><i>Image: </i><img src="{{ game.image_url }}" alt="game image"> </p>
    <p><i>Website: </i><a href="{{ game.website_url }}">{{ game.website_url }}</a></p>
    <p>Game ID: {{ game.game_id }}</p>
    <a class="link-button" href="{{ url_for('game_bp.review_game', game=game.game_id) }}">Comment</a>
    <br>
</div>


{% endblock %}