{% extends 'layout.html' %} {% block content %}

<body>
            <div id="container">
              <main id="main">
                <div class="description">
                  <br>
                    <h2>{{ game.title }}</h2>
                    <p><i>Release Date:</i> {{ game.release_date }} </p>
                    <p><i>Price:</i> {{ game.price }}</p>
                    <p><i>About:</i> {{ game.description }} </p>
                    <p><i>Image URL: </i><img src="{{ game.image_url }}" alt="game image"> </p>
                </div>
              </main>
            </div>

</body>
{% endblock %}