<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>

      <header id="header">
              <h1>CS235 2023: My Game Library</h1>
              <div class="copyright">&copy; UPI1 | UPI2 | UPI3 (Write your full names or UPIs)</div>
            </header>
            <div id="container">
              <main id="main">
                <div class="description">
                  <br>
                    <h2>{{ game.title }}</h2>
                    <p><i>Release Date:</i> {{ game.release_date }} </p>
                    <p><i>Price:</i> {{ game.price }}</p>
                    <p><i>About:</i> {{ game.description }} </p>
                    <p><i>Image URL: </i><img src="{{ game.image_url }}" alt="game image"> </p>
                </div>
              </main>
            </div>

</body>
</html>