<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Site</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <!-- W3.CSS (why?)
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

</head>
<body>
{% include 'header.html' %}
{% include 'navigation.html' %}
 <ul>
     Genre test:  {{ top_genres[0] }}
    {% for genre in top_genres %}
    <li>
        Genre: {{ genre }}
    </li>
    {% endfor %}
</ul>
{% block content %} {% endblock %}
{% include 'footer.html' %}
</body>
</html>