<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <!-- W3.CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

{% include 'header.html' %}
{% include 'navigation.html' %}

<div class="row">
{% include 'sidebar.html' %}
{% block content %} {% endblock %}
</div>

{% include 'footer.html' %}
</body>
</html>