<div class="w3-row w3-centre">
    <nav id="nav">
        <a href="{{ url_for('home_bp.home') }}" class="w3-button">Home</a><br>
        <a href="{{ url_for('home_bp.home') }}" class="w3-button">Home</a><br>


        <br>
        <p>Top Genres:</p>
        <p>

            {% for genre in top_genres %}
            <ul>
                <li><a href="gameDescription.html"> {{ genre[0].genre_name }} </a> <br> <div id="nav-game-count"> ({{ genre[1] }}) </div></li>
            </ul>
            {% endfor %}

        </p>
    </nav>
</div>
