

<div class="navbar">
    <div class="navbar-left">
        <ul>
            <li><a href="{{ url_for('home_bp.home') }}" class="w3-button">Home</a></li>
            <li><a href="{{ url_for('all_games_bp.all_games') }}" class="w3-button">All Games</a></li>
            <li><a href="{{ url_for('favourites_bp.favourite_games') }}" class="w3-button">Favourites</a></li>
            <li><a href="{{ url_for('wishlist_bp.wishlist_list') }}" class="w3-button">Wishlist</a></li>
            <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
            <li><a href="{{ url_for('all_games_bp.all_games') }}">All Games</a></li>
            {% if 'user_name' not in session %}
            <li><a href="{{ url_for('authentication_bp.login') }}">Login</a></li>
            <li><a href="{{ url_for('authentication_bp.register') }}">Register</a></li>
            {% endif %}
            {% if 'user_name' in session %}
            <li><p>You are logged in as {{ session['user_name'] }}</p></li>
            <li><a href="{{ url_for('authentication_bp.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>

    <form method="GET" action="{{ url_for('search_bp.search_games') }}">
        <div class="navbar-right">
            <input name ="query" type="text" placeholder="I'm looking for....">
            <select name="query_type">
              <option value="title">Title</option>
              <option value="publisher">Publisher</option>
              <option value="genre">Genre</option>
            </select>
            <input type="submit" class="search-btn" value="Search">
        </div>
    </form>
</div>

