/*this is a temporary chatgpt css file*/
/* Reset some default margin and padding values */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set the height of the header */
header {
  height: 100px;
  background-color: black; /* Change to your desired header color */
  color: white;
  text-align: center;
}


nav {
  text-align: left;
  background-color: #111;
  height: calc(100vh - 150px);
  width: 200px;
  float: left;
  font-size: 24px;
  color: white;
  padding: 0px;
}


nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
}

nav ul li a:hover {
  background-color: #777777;
}

#nav-game-count {
  text-align: center;
  font-size: 12px;
  color: #555;
  padding: 0px;
}

/* Style the main content area */
#container {
  margin-left: 220px; /* Space for the 200px wide navbar and 20px margin */
  margin-top: 120px; /* Space for the 100px high header and 20px margin */
  padding: 0px;
  color: darkblue;
}

/* Style the footer */
footer {
  background-color: #555; /* Change to your desired footer color */
  color: white;
  text-align: center;
  clear: both; /* Clear the float */
  margin-top: 20px;
  bottom: 0;
}
