{% extends 'layout.html' %} {% block content %}

<body>
    <div>
        <div class="w3-display-container">
            <p style="
                background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/7940/header.jpg?t=1646762118');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100%;
                height: 400px;
            " class="w3-centre">
            </p>
            <div class="w3-display-middle w3-large w3-col" style="width:50%">
                <div class="w3-blue w3-container w3-padding w3-round w3-row">
                    <input class="w3-input w3-twothird" type="text" placeholder="I'm looking for....">
                    <button class="w3-button w3-green w3-round w3-third">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div>

        <a href="{{ url_for('game_bp.desc',game_id=407420) }}" class="w3-button">Game 1</a><br>
        <a href="{{ url_for('game_bp.desc',game_id=532080) }}" class="w3-button">Game 2</a><br>
        <a href="{{ url_for('game_bp.desc',game_id=350970) }}" class="w3-button">Game 3</a><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</body>
{% endblock %}