{% extends 'layout.html' %}

{% block content %}

<div class="col-9 col-s-9 main">
    <a href="{{ url_for('game_bp.desc', game_id=game.game_id, sort_choice=sort_choice) }}"><h2>{{ game.title }}</h2></a>
    <a href="{{ game.website_url }}"><img src="{{ game.image_url }}" alt="game image"></a>
    <p>{% for genre in game.genres %}
    <div class="w3-tag w3-round w3-blue">
    <a href="{{ url_for('search_bp.search_games', query=genre.genre_name, query_type='genre') }}">{{ genre.genre_name }}</a></div>
    {% endfor %}</p>
    <div class="form-wrapper">
        <form action="{{handler_url}}" method="post">
            {{form.game_id}} <!-- Need to include this hidden field as it tracks the article being commented. -->
            {{form.csrf_token}} <!-- Need to include this token - Flask WTForms requires it. -->
            <br>
            <div class ="form-field">{{form.review.label}} </br>{{form.review(size = 100, placeholder="type your review", class="textarea", cols="50", rows="6", wrap="hard")}}
                {% if form.review.errors %}
                    <ul class="errors">
                    {% for error in form.review.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div><br>
            Rating: {{ form.rating }} <br><br>
            {{ form.submit(class="link-button") }}
        </form>
    </div>
</div>

{% endblock %}