{% extends 'layout.html' %} {% block content %}

<div class="col-9 col-s-9 main">
    <div>
        <div class="w3-row">
            <div style="float:left";>
                <h2>{{ game.title }}</h2>
            </div>
            <div style="float:right";>

                <button class="w3-button">
                    <i class="fa fa-solid fa-list fa-2x"></i> Wishlist
                    <form method="POST">
                    <input type="submit" name="submit_button" value="toggle_wishlist">
                    </form>
                </button>


                <button class="w3-button">
                    <i class="fa fa-regular fa-star fa-2x"></i> Favourite {% if game in favourites %} True {% else %} False {% endif %}
                    <form method="POST">
                    <input type="submit" name="submit_button" value="toggle_favourite">
                    </form>
                </button>

            </div>
        </div>
        <div>
            <p>
                {% for genre in game.genres %}<div class="w3-tag w3-round w3-blue">{{ genre.genre_name }}</div> {% endfor %}
            </p>
        </div>
    </div>
    <div>
        <img style="width:80%"; src="{{ game.image_url }}" alt="game image">
    </div>

    <p><i>Release Date:</i> {{ game.release_date }} </p>
    <p><i>Price:</i> {{ game.price }}</p>
    <p><i>About:</i> {{ game.description }} </p>
    <p><i>Website: </i><a href="{{ game.website_url }}">{{ game.website_url }}</a></p>
    <p>Game ID: {{ game.game_id }}</p>
    {% if not game.reviews %}
    <p><em>No reviews for this game.</em></p>
    {% endif %}
    <a class="link-button" href="{{ url_for('game_bp.review_game', game=game.game_id, sort_by='rating', reverse_sort='True') }}">Review Game</a>
    {% if game.reviews %}
    <h4>Reviews:</h4>
    <div class="form-wrapper">
    <form method="GET">
        {{sorting.sort_by.label}} {{ sorting.sort_by }} {{sorting.reverse_sort.label}} {{ sorting.reverse_sort }} {{ sorting.submit(class="link-button") }}
    </form>
    </div>
    <div style="clear:both">
        {% for review in sorted_reviews %}
            <p class="white-box">User: {{review.user.username}}, Rating: {{review.rating}}/5<br>{{review.comment}}</p>
        {% endfor %}
    </div>
    {% endif %}
    <br>
</div>


{% endblock %}
