{% extends 'layout.html' %} {% block content %}



<div class="col-9 col-s-9 main">
    <h2>{{ user.username }}'s Profile</h2>
    <div class="white-box"><h3>Favourites:</h3>
        {% for favourite in user.favourites %}<div class="white-box">{{ favourite.title }}</div> {% endfor %}
    </div>
    <div class="white-box"><h3>Wishlists:</h3>
        {% for wishlist in wishlists %}
        <div class="white-box"><h4>{{ wishlist.name }} </h4>
            {% for game in wishlist %}<div class="white-box">{{ item.title }}</div> {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="white-box"><h3>Reviews:</h3>
        {% for review in user.reviews %}
        <div class="white-box">Game: {{review.game.title}} <br> Rating: {{review.rating}}/5<br>Comment: {{review.comment}}</div> {% endfor %}
    </div>
</div>


{% endblock %}